body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Home Page */

.question {
    font-size: 1.5rem;
    margin: 3rem 9vw;
    font-weight: 500;
}

.option {
    font-size: 1.2rem;
    border: 2px solid #999;
    padding: 1rem 2.5rem;
    border-radius: 3%;
}

.grid-container {
    display: grid;
    margin: 2rem 9vw;
    grid-template-rows: repeat(2, slice);
    grid-template-columns: repeat(2, 40vw);
    gap: 2vw;
}

@media screen and (max-width: 700px) {
    .grid-container {
        display: block;
        margin: 1rem;
    }

    .option {
        padding: 0.8rem 1.5rem;
        margin: 1rem 0;
    }

    .question {
        margin: 2rem;
    }
}


/* Score-bars */

.score-bar {
    aspect-ratio: 8/1;
    height: 70%;
    background-color: #bdc9c1;
    border-radius: 5px;
    overflow: hidden;
}

.fill-score-bar {
    width: 60%;
    height: 100%;
}

.fill-animation {
    height: 100%;
    background-color: #32a852;
    animation: fill-bar;
    animation-duration: 5s;
}

@keyframes fill-bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/* Person */

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.result-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.person-description {
    font-size: 1.2rem;
    font-style: italic;
}

.small-span {
    font-size: 1.0rem;
}

.big-span {
    font-size: 2.0rem;
}

#person-photo {
    width: 3in;
}

img {
    border-radius: 50%;
}

@media screen and (max-width: 810px) {
    .person {
        flex-direction: column;
        width: 90vw;
        gap: 1.5rem;
    }

    .result-title {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
    }

    img {
        border-radius: 1%;
    }

    .person-picture {
        order: 2;
    }

    .person-description {
        font-size: 1rem;
    }   
}

@media (pointer: fine) {
    .option:hover {
        transition-duration: 0.1s;
        cursor: pointer;
        box-shadow: 0 0 5px #999;
    }
}


/* Stats */

.stats {
    display: grid;
    grid-template-columns: 300px calc(500px - 2rem);
    grid-template-rows: repeat(7, auto);
    align-items: center;
    margin-top: 4rem;
}

.your-stats {
    grid-column: 1 / span 2;
}

.stat-name {
    padding: 0.5rem 0;
    letter-spacing: -0.1px;
}

@media screen and (max-width: 810px) {
    .stats {
        grid-template-columns: 43vw 43vw;
        margin-top: 2rem;
        column-gap: 4vw;
    }

    .stat-name {
        font-size: 0.9rem;
    }

    .score-bar {
        height: 1.2rem;
        width: 38vw;
    }
}


/* Result */

.result-container {
    width: 800px;
    margin: 1rem calc((100vw - 800px) / 2);
    border: 2px solid #ccc;
    padding: 2rem;
}

@media screen and (max-width: 810px) {
    .result-container {
        width: 90vw;
        margin: 1rem 5vw;
        border: 0;
        padding: 0;
        
    }
}